@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{

  margin: 15;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {

  background-color: #E7E7DE;

}


 .navbar {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin: 40px auto;
  font-size: 16px;
  
 }



.intro{
  display: flex;
  width: 250px;
  height:250px;
  float: right;
  border-radius: 10%;

}

.welcome{
  margin-right: 60px;
  color: #002B5B;
  font-size: 30px;
  font-weight: bold;
  
}

.grooming{
  color:#002B5B ;
  font-size: 1.2 rem;
  line-height: 1.2rem;
}
}


h2{
   color:  #002B5B;

 }



 .profile {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }


   .hygiene {
    width: 25%;
    float: right;
    margin-right: 30px;
    border-radius: 30%;
  }

  .bathing {
    width: 25%;
    float: left;
    margin-right: 20px;
    border-radius: 30%;
  }

  .healthy {
    width: 25%;
    float: right;
    margin-right: 30px;
    border-radius: 30%;
  }


  .contact {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
    font-size: 0.8rem;
  }
  
  .name{
    color:#002B5B ;
   font-size: 50px;
   font-weight: 600;
  }